<!-- MAIN CONTENT-->
<div class="main-content">
    <div class="section__content section__content--p30">
        <div class="container-fluid bg-white p-3">
            <h3 class="mt-2">Welcome, <%= req.user.firstname %>
                    <%= req.user.lastname %>
            </h3>

            <div class="row mt-5">
                <div class="col-12">
                    <h4 class="my-2 lead">Base Data</h4>
                    <hr />
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>First Name</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.firstname %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Middle Name</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.middlename %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Last Name</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.lastname %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Email</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.email %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Mat Number</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.matno %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Department</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.department %>
                            </p>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-md-2 col-6">
                            <p>Level</p>
                        </div>
                        <div class="col-md-10 col-6">
                            <p class="text-left">
                                <%= req.user.level %>L
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="copyright">
                        <p>Copyright ©EDU SOP 2022 . All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>